<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".build/phpunit-cache"
         colors="true"
>
	<testsuites>
		<testsuite name="chillerlan/psr-15-handlers test suite">
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory>src</directory>
		</include>
	</source>
	<coverage>
		<report>
			<clover outputFile=".build/coverage/clover.xml"/>
			<xml outputDirectory=".build/coverage/coverage-xml"/>
		</report>
	</coverage>
	<php>
		<const name="RESPONSE_FACTORY" value="GuzzleHttp\Psr7\HttpFactory"/>
		<const name="SERVER_REQUEST_FACTORY" value="GuzzleHttp\Psr7\HttpFactory"/>
		<const name="STREAM_FACTORY" value="GuzzleHttp\Psr7\HttpFactory"/>
		<const name="UPLOADED_FILE_FACTORY" value="GuzzleHttp\Psr7\HttpFactory"/>
		<const name="URI_FACTORY" value="GuzzleHttp\Psr7\HttpFactory"/>
	</php>
</phpunit>
